html {
  background-color: #ececec;
  font-family: sans-serif;
}

body {
  min-width: 360px;
  margin: 0;
}

header {
  background-color: white;
}

main {
  background-color: lavender;
}

header,
main,
footer,
nav {
  margin: 0rem;
}

header {
  background-color: white;
  color: black;
  padding: 1rem;
}

header div {
  display: flex;
}


footer {
  background-color: white;
  padding: 1rem;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  height: 80px;
  /* max-width: 100px; */
}

nav {
  background-color: white;
}

nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

nav ul li a {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 25px;
  margin: 0 1rem;
  font-weight: bold;
  color: #5d5d5d;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: rgb(241, 241, 241);
  color: #000000;
}

nav ul li a.active {
  background-color: #252525;
  color: #ecf0f1;
}

main {
  padding: 1.5rem;
}

footer {
  text-align: center;
}

main h2 {
  /* border-bottom: 1px solid #7f8c8d; */
  margin-bottom: 1rem;
  margin-top: 0;
}

div.details-section {
  margin-bottom: 3rem;
}

.table-list {
  border-collapse: collapse;
  color: #2c3e50;
  width: 100%;
  background-color: white;
  margin-bottom: 2rem;
  text-align: center;
}

.table-list,
.table-list th,
.table-list td {
  border: 1px solid #bdc3cf;
}

.table-list th,
.table-list td {
  padding: 0.5rem;
}

.table-list th,
.table-list tbody tr:nth-child(even) {
  background-color: #ecf0f1;
}

.list-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.list-actions li {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
  display: inline-block;
  width: 75px;
  padding: 0.25rem 0.5rem;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add,
.form-button-submit,
.form-button-cancel,
.button-edit,
.button-back {
  border: none;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
  transition: 0.3s;
}

/* .list-actions-button-details,
.list-actions-button-edit {
  margin-right: 1rem;
} */

.list-actions-button-details,
.button-back {
  background-color: #2980b9;
}

.list-actions-button-details:hover,
.button-back:hover {
  background-color: #3498db;
}

.list-actions-button-edit,
.button-edit {
  background-color: #f39c12;
}

.list-actions-button-edit:hover,
.button-edit:hover {
  background-color: #f1c40f;
}

.button-add,
.form-button-submit,
.form-button-cancel,
.button-edit,
.button-back {
  padding: 0.5rem 1rem;
}

.button-add,
.form-button-submit {
  background-color: #27ae60;
}

.button-add:hover,
.form-button-submit:hover {
  background-color: #2ecc71;
}

.section-buttons {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}

.form {
  display: grid;
  grid-template-columns: 160px 300px 1fr;
  gap: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.form select,
.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form input[type="radio"] {
  border: 1px solid #7f8c8d;
  color: #2c3e50;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}

.form label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5em;
}

.errors-text,
.symbol-required {
  color: #c0392b;
}

.form-buttons {
  margin-top: 1rem;
  grid-column: 1 / span 2;
  margin-bottom: 1rem;
}

.list-actions-button-delete {
  background-color: #c0392b;
}

.form-button-cancel {
  background-color: black;
}

.form-button-cancel:hover {
  background-color: rgb(28, 28, 28);
}

.list-actions-button-delete:hover {
  background-color: #e74c3c;
}

.form-button-submit,
.form-button-cancel {
  width: 100%;
}

.form-button-cancel {
  box-sizing: border-box;
  display: block;
}

.form-button-submit {
  margin-bottom: 0.5rem;
}

.form input.error-input,
.form select.error-input {
  border: 3px solid #e74c3c;
}

.errors-text {
  display: block;
  font-size: 0.85em;
  line-height: 2.25rem;
  margin-top: 0.5em;
  color: #e74c3c;
}


@media all and (max-width: 890px) {
  .list-actions-button-details,
  .list-actions-button-edit,
  .list-actions-button-delete {
    display: inline-block;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
}
@media all and (max-width: 760px) {
  header {
    flex-direction: column-reverse;
  }

  h1 {
    margin-left: 0;
    text-align: center;
  }

  img {
    display: none;
  }

  header div {
    justify-content: center;
  }

  header img {
    align-self: center;
  }

  nav ul {
    flex-wrap: wrap;
  }

  nav ul li {
    flex-basis: 50%;
    text-align: center;
  }

  nav ul li a {
    display: block;
  }

  .form {
    grid-template-columns: 1fr;
    row-gap: unset;
    margin-left: unset;
  }

  .form-buttons {
    grid-column: 1 / 1;
  }

  .hide-mobile {
    display: none;
  }
}

@media all and (max-width: 400px) {
  body,
  nav,
  nav ul,
  header,
  main,
  footer {
    margin: 0;
  }

  nav ul li {
    flex-basis: 100%;
  }
}
