<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8" />
    <title>Carsify</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script type="application/javascript" src ="/js/validationCommon.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">Main Page</a></li>
          <li><a href="/cars" class="<%= navLocation == 'car' ? 'active' : '' %>">Cars</a></li>
          <li><a href="/rentals" class="<%= navLocation == 'rental' ? 'active' : '' %>">Rentals</a></li>
          <li><a href="/clients" class="<%= navLocation == 'client' ? 'active' : '' %>">Clients</a></li>
        </ul>
      </nav>
      <div>
        <h1>Carsify</h1>
        <img src="/images/logo.jpg" alt="Car Rental Logo" />
      </div>
    </header>